.gradle
.idea
build
gradle
mods
gradlew
RailCraftPlus.*
gradle.properties
config
saves
logs
resourcepacks
options.txt
usernamecache.json
RailcraftPlus.iml
forge-1.7.10-10.13.2.1291-javadoc.zip
crash-reports
screenshots